.row-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-top: 1px solid #ddd;
}

.row-item span {
  margin: 0 6px;
}

.item-number {
  width: 30px;
}

.row-balls {
  display: flex;
}

.row-btn {
  width: 60px;
}
